$easeOutBack:cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInoutBack:cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeOutCirc:cubic-bezier(0.075, 0.82, 0.165, 1);
$easeOutQuint:cubic-bezier(0.23, 1, 0.32, 1);