$orangeColor:#E84E33;
$whiteColor:white;

$yellowColor0:#FEA200;
$yellowColor1:rgb(255,160,0);
$yellowColor2:#FFF8E8;
$yellowColor3:#F1B88B;

$blackColor:#646869;

$grayColor0:#92948F;
$grayColor1:#CBCBCB;
$grayColor2:#F3F1F2;

$blueColor:#36A2E0;

$fontSize0:22px;
$fontSize1:20px;
$fontSize2:18px;
$fontSize3:16px;
$fontSize4:14px;

$fontSizeSmall:12px;