@import "compass/css3";
@import "global";
.orangeColor {
  color: $orangeColor;
}
.whiteColor {
  color:$whiteColor;
}
.yellowColor0 {
  color:$yellowColor0;
}
.yellowColor1 {
  color:$yellowColor1;
}
.yellowColor2 {
  color: $yellowColor2;
}
.yellowColor3 {
  color: $yellowColor3;
}
.blackColor {
  color:$blackColor;
}
.grayColor0 {
  color:$grayColor0;
}
.grayColor1 {
  color: $grayColor1;
}
.grayColor2 {
  color: $grayColor2;
}
.blueColor {
  color:$blueColor;
}


.fontSize0 {
  font-size: $fontSize0;
}
.fontSize1 {
  font-size: $fontSize1;
}
.fontSize2 {
  font-size: $fontSize2;
}
.fontSize3 {
  font-size: $fontSize3;
}
.fontSize4 {
  font-size: $fontSize4;
}
.fontSizeSmall {
  font-size: $fontSizeSmall;
}
textarea {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border-color: $grayColor1;
  resize: none;
  @include border-radius(0px);
  @include box-shadow(0px 0px 0px);
}
p {
  margin: 0;
}
body {
  background: $grayColor2;
}
.user-info {
  font-size: $fontSizeSmall;
  border: {
    bottom: 1px solid $grayColor1;
  };
  background: $whiteColor;
  color:$blackColor;
}
.imgo-head {
  padding: {
    top:15px;
    bottom: 15px;
  };
  font-weight: bold;
  font-size:$fontSize0;
  background:$orangeColor;
  color:$whiteColor;
}
.imgo-img-warp {
  width: 70px;
  height: 70px;
  display: inline-block;
  padding:5px;
  border:1px solid $grayColor1;
  @include border-radius(50%);
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
.imgo-username {
  font-size:$fontSize2;
  color:$yellowColor0;
}
.imgo-paid-title {
  color: $orangeColor;
}
.imgo-radio-warp {
  padding: {
    top: 10px;
    bottom: 10px;
    left: 2px;
    right: 2px;
  };
  border: {
    left: 1px solid $grayColor1;
    right: 1px solid $grayColor1;
    bottom: 1px solid $grayColor1;
  }
  background: $whiteColor;
}
.imgo-radio {
  position: relative;
  top:9px;
}
.imgo-button {
  width: 100%;
  display: inline-block;
  padding: 10px;
  text-align: center;
  font-size: $fontSize2;
  background: $orangeColor;
  color: $whiteColor;
  cursor: pointer;
  @include border-radius(3px);
}
